.Footer {
    margin-top: 40px;
}

.Footer .grid {
    display: grid;
    grid-template-rows: repeat(3, auto);
    row-gap: 16px;
    justify-content: center;
    /* background-color: red; */
}

.Footer .grid-item {
    width: max-content;
}

.Footer .links-category {
    margin: 8px 0;
    transform: translate(-1rem, 0);
    font-size: 1.2rem;
}

.Footer .links-wrapper {
    transform: translate(1rem, 0);
}

.Footer .footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Footer .copyright {
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2;
}

.Footer .icon {
    font-size: 2rem;
    margin: 16px 8px;
}

@media screen and (min-width: 1000px) {
    .Footer .grid {
        grid-template-rows: none;
        grid-template-columns: repeat(3, auto);
        column-gap: 80px;
    }
    
    .Footer .links-wrapper {
        transform: translate(0, 0);
    }
}